<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="background-color: rgba(110, 110, 110, 0.712);">
    <div class="d-flex justify-content-around" style="margin: 20px;height: 400px;">
        <div class="container text-center border border-dark bg-secondary rounded" style="padding: 20px;width: 400px;height: 340px;">
            <form action="/create" method="post">
                <table class="table text-center">
                    <tr class="text-info"><div class="text-info"><h4>Crea un nuevo libro</h4></div></tr>
                    <tr>
                        <th>T&iacute;tulo</th>
                        
                    </tr>
                    <tr>
                        <input type="hidden" name="tipo" value="libro" />
                        <td><input type="text" name="titulo" class="form-control" value="" required></td>
                        
                    </tr>
                    <tr>
                        <th>N&uacute;mero de p&aacute;g</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="num_paginas" class="form-control" value="" required></td>
                    </tr>
                </table>
                <button class="btn btn-lg btn-block rounded text-info border-info" type="submit">Aceptar</button>
            </form>
        </div>
    
        <div class="container border border-dark rounded bg-secondary" style="padding: 20px;width: 400px;overflow: auto;">
            <table class="table">
                <th class="text-info text-center"><div class="text-info"><h4>Libros</h4></div></th>
                {% for libro in todos_libros %}
                <tr>
                    <td><a class="text-dark" style="text-decoration:none;" href="/books/{{libro.id}}">{{libro.titulo}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <a href="/authors" class="navbar-brand d-flex align-items-center text-info">
            <strong class="border border-info rounded" style="padding: 5px;">Home</strong>
        </a>
    </div>
</body>
</html>